# Sentence data preprocessing

In [10]:
import pandas as pd

## 1. Select sentences in english that have audio

This section of data preprocessing will focus on selecting english sentences that have an existing audio file.

In [11]:
# Read sentences in english
english_sen = pd.read_csv('datasets/eng_sentences_CC0.tsv', 
                          sep='\t',
                          names=['id', 'lang', 'text', 'date_last_modified'])

# Read sentences in all languages with audio
audio_sen = pd.read_csv('datasets/sentences_with_audio.csv', 
                        sep='\t',
                        names = ['id', 'audio_id', 'username', 'license', 'attribution_url'])

In [12]:
english_sen.head(3)

,id,lang,text,date_last_modified
0,330998,eng,Children who spend more time outdoors have a l...,2019-01-12 19:39:42
1,331000,eng,The idea that reading makes you short-sighted ...,2019-01-12 19:39:42
2,331259,eng,Most people think computers will never be able...,2019-01-12 19:39:42

In [13]:
audio_sen.head(3)

   id  audio_id    username license attribution_url
0  61         1  fucongcong     NaN             NaN
1  68         2  fucongcong     NaN             NaN
2  78    754915    mramosch     NaN             NaN

In [14]:
# Remove entries for sentences with audio that don't have a license
audio_sen = audio_sen[audio_sen['license'].notna()]

In [15]:
# Extract id of english sentences as a list
id_english = english_sen['id'].values.tolist()
print(id_english[:5])

[330998, 331000, 331259, 332331, 334553]

In [16]:
# Extract sentences with audio that are in english
english_audio_sen = audio_sen[audio_sen['id'].isin(id_english)]

In [17]:
english_audio_sen.head(3)

,id,audio_id,username,license,attribution_url
59840,331259,800678,CK,CC BY-NC-ND 3.0,http://www.manythings.org/tatoeba
61685,334553,27179,CK,CC BY-NC-ND 3.0,http://www.manythings.org/tatoeba
72813,403859,1123747,Them,CC BY 4.0,NaN

In [18]:
# Save file
# english_audio_sen.to_csv('datasets/english_audio_sen.csv', index=False)